<header id="header">
    <div class="bannerImage">
        <div>
            <h1>World,s best news place</h1>
            <p>Journey through Time: Unraveling History's Mysteries and Embracing the Wonders of the World</p>
        </div>
    </div>
</header>